{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content_left %}
<h1>Lorem Ipsum</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Nunc eu eros et nisl placerat ullamcorper eget sit amet ex. 
    Nam venenatis porta nisl ac vehicula. Phasellus ligula diam, 
    consequat sit amet lorem non, feugiat maximus leo. Maecenas egestas, 
    ligula vitae pellentesque congue, dolor odio imperdiet mi, ut convallis 
    ligula urna non nunc. Ut vitae felis non dolor auctor feugiat. 
    Sed sit amet consectetur nunc, vel hendrerit lacus. 
    Curabitur rutrum mi in interdum ullamcorper.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Nunc eu eros et nisl placerat ullamcorper eget sit amet ex. 
    Nam venenatis porta nisl ac vehicula. Phasellus ligula diam, 
    consequat sit amet lorem non, feugiat maximus leo. Maecenas egestas, 
    ligula vitae pellentesque congue, dolor odio imperdiet mi, ut convallis 
    ligula urna non nunc. Ut vitae felis non dolor auctor feugiat. 
    Sed sit amet consectetur nunc, vel hendrerit lacus. 
    Curabitur rutrum mi in interdum ullamcorper.
</p>
{% endblock %}

{% block content_right %}
<h1>Lorem Ipsum</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Nunc eu eros et nisl placerat ullamcorper eget sit amet ex. 
    Nam venenatis porta nisl ac vehicula. Phasellus ligula diam, 
    consequat sit amet lorem non, feugiat maximus leo. Maecenas egestas, 
    ligula vitae pellentesque congue, dolor odio imperdiet mi, ut convallis 
    ligula urna non nunc. Ut vitae felis non dolor auctor feugiat. 
    Sed sit amet consectetur nunc, vel hendrerit lacus. 
    Curabitur rutrum mi in interdum ullamcorper.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Nunc eu eros et nisl placerat ullamcorper eget sit amet ex. 
    Nam venenatis porta nisl ac vehicula. Phasellus ligula diam, 
    consequat sit amet lorem non, feugiat maximus leo. Maecenas egestas, 
    ligula vitae pellentesque congue, dolor odio imperdiet mi, ut convallis 
    ligula urna non nunc. Ut vitae felis non dolor auctor feugiat. 
    Sed sit amet consectetur nunc, vel hendrerit lacus. 
    Curabitur rutrum mi in interdum ullamcorper.
</p>
{% endblock %}