{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block style %}
<style>
    .form-container {
        margin: auto;
        width: 30rem;
        margin-top: 50px;
    }
</style>
{% endblock %}

{% block content %}

<div class="form-container">
    <form>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" name="inputEmail" id="inputEmail" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary" formmethod="post">Submit</button>
    </form>
</div>


{% endblock %}