{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block style %}
<style>
    .form-container {
        margin: auto;
        width: 30rem;
        margin-top: 50px;
    }
</style>
{% endblock %}

{% block content %}

<div class="form-container">
    <form>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" name="username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        
        <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="email" aria-label="Email" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">simplon@example.com</span>
        </div>
        
        <div class="input-group mb-3">
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
        </div>

        <div class="d-flex justify-content-center">    
            <button type="submit" class="btn btn-primary" formmethod="post">Submit</button>
        </div>
    </form>
</div>

{% endblock %}

{% block content_left %}

{% endblock %}

{% block content_right %}

{% endblock %}